@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'variables';

body {
  background-image: url("../App/sharkTank.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 150vh;
  background-color: $favColor;
}